<html>
<head>
  <title>{{title}}</title>
  <style>
  body{
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    font-family: arial;
  }
  </style>
</head>
<body>
  <h1>{{title}}</h1>

    {% for post in posts %}
      <div>
        <h4>{{post.id}}: {{post.author}}</h4>
        <p>{{post.message}}</p>
      </div>
    {% endfor %}

  <form action="/posts" method="POST">
    <h5>New Post</h5>
    <div><input type="text" name="author" placeholder="Author" /></div>
    <div><input type="text" name="message" placeholder="Post message" /></div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>